@keyframes goyang {
  0%, 100% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}

html, body
{
  background-color: rgba(0, 255, 0);
  position: relative;
  margin: 0;
  padding: 0;
}

.wrapper
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.character {
  aspect-ratio: 1 / 1;
  width: 50vw;
  height: auto;
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  transform-origin: 50% 0;
  animation: goyang 4s ease-in-out infinite;

  &::before
  {
    content: "";
    width: 8px;
    height: 100vh;
    background: brown;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    transform: scale(85%);
    transform-origin: bottom center;
  }
}